<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> - <%= app %></title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

    
    <script defer>
      async function deleteAllCookies(){
        await fetch('/logout', {method:"DELETE"})
        setTimeout(() => {
            location.reload()
        }, 100);
      }
    </script>
    <style>
        /* width */
        html{
          scroll-behavior: smooth;
        }

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#b30000, #b30000, #000000);
  border-radius: 10px;
  transition: 0.3s;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: 0.3s;
  background: #b30000; 
}
              body{
        font-family: "Josefin Sans", sans-serif;
        background-color: #f0ecec;
      }
      header::before{
        content: '';
        position: absolute;
        background: url(logo/banner.jpeg) no-repeat center center/cover;
        height: 100%;
        width: 100%;
        z-index: -2;
      }
      .black-cover{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.700);
        z-index: -2;
      }
    </style>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="black-cover"></div>

        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="logo/logo.jpeg" class="w-10 rounded-full"></img>
            <span class="ml-3 text-xl text-white"><%= app %></span>
          </a>

          <nav class="md:ml-auto md:flex flex-wrap items-center justify-center">
           <% if(user == undefined) { %>
            <a href="/register">
              <button class="mx-auto text-white bg-red-500 border-0 py-1 px-4 focus:outline-none hover:bg-red-700 transition rounded-full text-sm">Register - <%= app %></button></a>  
           <% } else { %>
              <div @click.away="open = false" class="relative" x-data="{ open: false }">
                <button @click="open = !open" class="flex flex-row items-center space-x-2 w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-white rounded-xl hover:bg-red-600 hover:text-white transition md:w-auto md:inline md:mt-0 md:ml-4 hover:bg-gray-200 focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline">
                    <span><%= user.name %></span>
                    <img class="inline h-6 rounded-full" src="https://i.pinimg.com/736x/a8/57/00/a85700f3c614f6313750b9d8196c08f5.jpg">
                    <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 transition-transform duration-200 transform rotate-0">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48" style="display: none;">
                    <div class="py-2 bg-white text-blue-800 text-sm rounded-sm border border-main-color shadow-sm">
                        <a class="cursor-pointer block px-4 py-2 mt-2 text-sm bg-white md:mt-0 focus:text-gray-900 hover:bg-indigo-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="/settings">Settings</a>
                        <div class="border-b"></div>
                        <a onclick="deleteAllCookies()" class="cursor-pointer block px-4 py-2 mt-2 text-sm bg-white md:mt-0 focus:text-gray-900 hover:bg-indigo-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline">Logout</a>
                    </div>
                </div>
            </div>
            <% } %>
          </nav>
    </div>
      </header>
    
      <section class="oo inherit text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-4xl text-2xl mx-5 font-medium title-font mb-2 text-white"><span class="text-red-500 xl-3">t</span>rend<span class="text-red-600 xl-3">O</span>posts</h1>
              <div class="h-1 w-20 bg-red-600 rounded"></div>
              <p class="custom-type w-full leading-relaxed text-xl text-white"></p>
            </div>
          </div>
          

          <div class="py-10 w-1/2 text-center justify-center align-center">
           
          </div>

      </section>

      <main>
      <div class="p-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-5 lg:grid-cols-3 xl:grid-cols-3 gap-5">
       <% blogs.forEach((elem)=>{ %>


           <div class="rounded overflow-hidden shadow-lg">
            <% if(elem.image) { %>
               <img class="w-full h-56" src="<%= elem.image %>" alt="<%= elem.title %> Img">
            <% } else { %>
                <img src="logo/noimg.png" alt="">
        <% } %>
  <div class="px-6 py-4">
                   <div class="font-bold text-xl mb-2"><%= elem.title %></div>
                   <p class="text-gray-700 text-base">
                       <%= elem.subtitle %></p>
                    </p>
                   <span class="inline-block h-1 w-20 rounded bg-red-500 mt-0 mb-2"></span>
                   <p class="leading-relaxed text-base text-gray-500"><b>Update</b> : <%= elem.updatedAt %></p>
                </div>
                <div class="px-6 pt-3 mb-8">
                    <a href="/blog/<%= elem._id %>">
                    <button class="mx-auto text-white bg-red-500 border-0 py-1 px-4 focus:outline-none hover:bg-red-600 transition rounded-2xl text-sm">Read More</button></a>
                </div>
                
                </div>
    <% }) %>

    </div>
</div>

</main>

    <footer class="text-gray-600 body-font">

        <div class="bg-gray-100">
          <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="logo/logo.jpeg" class="w-10 rounded-full" alt="">
              <span class="ml-3 text-xl"><%= app %></span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© xtendettisaf  —
              <a href="https://github.com/EttisafRup" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@github</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
              <a class="text-gray-500 hover:text-red-700 transition cursor-pointer">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500 hover:text-red-700 transition cursor-pointer">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500 hover:text-red-700 transition cursor-pointer">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500 hover:text-red-700 transition cursor-pointer">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

      <script>
        const options = {
    strings: ["Nothing is serious here, take it ez!", "Watch trending news posts for Facebook, Instagram and more..!", "Signup and post yours too!!"],
    typeSpeed: 40,
    backSpeed: 40,
    loop: true,
  };  

    const typed = new Typed('.custom-type', options);
      </script>

</body>
</html>